.icon-48-taproviders {
      background-image: url(../images/l_taproviders.png);
      padding-left:60px!important;
}
.icon-48-taprovider {
      background-image: url(../images/l_taproviders.png);
      padding-left:60px!important;
}