<?xml version="1.0" encoding="utf-8"?>
<form>
	<fieldset>
	  	<field 
        	filter="unset"
        	name="checked_out"
        	type="hidden" />
        
        <field 
        	filter="unset"
        	name="checked_out_time"
        	type="hidden" />
        	
        <field
	        class="inputbox"
	        default="1"
	        description="JFIELD_PUBLISHED_DESC"
	        label="JSTATUS"
	        name="state"
	        size="1"
	        type="list">
		        <option value="1">JPUBLISHED</option>
		        <option value="-2">JTRASHED</option>
    	</field> 	
    	
    	<field
        	description="COM_LIBRARY_FORM_NAME_DESC"
        	label="COM_LIBRARY_FORM_NAME_LBL"
        	maxlength="255"
        	name="name"
        	type="text" />
        	
        <field 
            cols="3"
            description="COM_LIBRARY_FORM_DESCRIPTION_DESC" 
            filter="safehtml"
            label="COM_LIBRARY_FORM_DESCRIPTION_LBL"
            name="description"
            rows="3"
            type="textarea" />
            
       	<field 
       		default="" 
       		description="COM_LIBRARY_CREATED_BY"
            label="COM_LIBRARY_CREATED_BY"
            name="created_by" 
       		type="createdby" />
       		
       	<field 
       		default="" 
       		description=""
            label=""
            name="base_file_name" 
       		type="hidden" /> 

     	<field 
       		class="readonly"
            default="0" 
       		description="COM_LIBRARY_FORM_ID_DESC"
            label="COM_LIBRARY_FORM_ID_LBL"
            name="id" 
       		readonly="true" 
            type="hidden" /> 
            
     	<field
     		accept="application/pdf"
     		description="COM_LIBRARY_FORM_FILE_DESC"
     		label="COM_LIBRARY_FORM_FILE_LBL"
     		name="file"
     		type="file" />
     		
     	<field
			cols="1"
			description="COM_LIBRARY_FORM_TARGET_AUDIENCES_DESC"
			key_field="id"
			label="COM_LIBRARY_FORM_TARGET_AUDIENCES_LBL"
            name="target_audiences"
			type="SQLcheckboxes"
			query="SELECT `id`, `name`, `state` FROM `#__target_audiences` ORDER BY `name`;"
			value_field="name" />	

	</fieldset>
</form>