<!-- wp:template-part {"slug":"header-frontpage","area":"uncategorized"} /-->

<!-- wp:uagb/container {"block_id":"b139c032","variationSelected":true,"isBlockRootParent":true,"className":"front-content"} -->
<div class="wp-block-uagb-container front-content uagb-block-b139c032 alignfull uagb-is-root-container">
    <div class="uagb-container-inner-blocks-wrap">
        <!-- wp:post-content /-->
    </div>
</div>
<!-- /wp:uagb/container -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->