<!-- wp:template-part {"slug":"header-small","area":"header","className":"header"} /-->

<!-- wp:group {"tagName":"main"} -->
<main class="wp-block-group">

    <div class="header-fixed sidebar-fixed sidebar-dark header-light right-sidebar-toggoler-out" id="body">

        <div class="wrapper">

            <aside class="left-sidebar bg-sidebar">
                <div id="sidebar" class="sidebar sidebar-with-footer">
                    <div class="app-brand">
                        <a href="/home-dashboard" title="Dashboard">
                            <i class="mdi mdi-view-dashboard-outline"></i>
                            <span class="brand-name text-truncate">Home Dashboard</span>
                        </a>
                      </div>
                    <div class="" data-simplebar="" style="height: 100%;">
                        
                        <ul class="nav sidebar-inner" id="sidebar-menu">
                            <li class="has-sub active expand">
                                <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse"
                                    data-target="#ta_services" aria-expanded="false" aria-controls="ta_services">
                                    <i class="mdi mdi-widgets"></i>
                                    <span class="nav-text">TA2TA Services</span><b class="caret"></b>
                                </a>
                                <ul class="collapse show" id="ta_services" data-parent="#sidebar-menu">
                                    <div class="sub-menu">
                                        <li class="">
                                            <a class="sidenav-item-link active" href="/request-roundtable-services">
                                                <span class="nav-text">Request Roundtable</span>
                                            </a>
                                        </li>
                                        <li class="">
                                            <a class="sidenav-item-link" href="/ta-zoom-request-information">
                                                <span class="nav-text">TA Zoom Request</span>
                                            </a>
                                        </li>
                                        <li class="">
                                            <a class="sidenav-item-link" href="/contact">
                                                <span class="nav-text">Contact us for other Training or Technical Assistance</span>
                                            </a>
                                        </li>
                                    </div>
                                </ul>
                            </li>
                            <li class="has-sub ">
                                <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse"
                                    data-target="#organization" aria-expanded="false" aria-controls="organization">
                                    <i class="mdi mdi-decagram"></i>
                                    <span class="nav-text">Organization</span> <b class="caret"></b>
                                </a>

                                <ul class="collapse " id="organization" data-parent="#sidebar-menu">
                                    <div class="sub-menu">

                                        <!-- wp:pattern {"slug":"twentytwentyfour/org-admin-hidded-link-in-dash"} /-->

                                        <li class="">
                                            <a class="sidenav-item-link" href="/my-organization">
                                                <span class="nav-text">Edit Organization</span>
                                            </a>
                                        </li>

                                        <li class="">
                                            <a class="sidenav-item-link" href="/my-grant-projects">
                                                <span class="nav-text">Add/Edit Projects</span>
                                            </a>
                                        </li>

                                        <li class="">
                                            <a class="sidenav-item-link" href="/add-new-document">
                                                <span class="nav-text">Add New Document</span>
                                            </a>
                                        </li>

                                        <li class="">
                                            <a class="sidenav-item-link" href="/view-my-documents-directory">
                                                <span class="nav-text">View My Documents Directory</span>
                                            </a>
                                        </li>
                                    </div>
                                </ul>
                            </li>
                            <li class="has-sub ">
                                <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse"
                                    data-target="#ta_newsandupdates" aria-expanded="false" aria-controls="ta_newsandupdates">
                                    <i class="mdi mdi-book-open-page-variant"></i>
                                    <span class="nav-text">News and Updates</span> <b class="caret"></b>
                                </a>

                                <ul class="collapse " id="ta_newsandupdates" data-parent="#sidebar-menu">
                                    <div class="sub-menu">
                                        <li class="">
                                            <a class="sidenav-item-link" href="/my-account">
                                                <span class="nav-text">Newsletters</span>
                                            </a>
                                        </li>
                                        <li class="">
                                            <a class="sidenav-item-link" href="/">
                                                <span class="nav-text">TA Provider Toolkit</span>
                                            </a>
                                        </li>
                                        <li class="">
                                            <a class="sidenav-item-link" href="/orientations-page">
                                                <span class="nav-text">TA Provider Orientations</span>
                                            </a>
                                        </li>
                                        <li class="">
                                            <a class="sidenav-item-link" href="/analytics-report">
                                                <span class="nav-text">Analytics Report</span>
                                            </a>
                                        </li>
                                    </div>
                                </ul>
                            </li>
                            <li class="has-sub ">
                                <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse"
                                    data-target="#ta_calendar" aria-expanded="false" aria-controls="ta_calendar">
                                    <i class="mdi mdi-calendar"></i>
                                    <span class="nav-text">Calendar Events</span> <b class="caret"></b>
                                </a>

                                <ul class="collapse " id="ta_calendar" data-parent="#sidebar-menu">
                                    <div class="sub-menu">
                                        <li class="">
                                            <a class="sidenav-item-link" href="/add-new-event-on-the-calendar">
                                                <span class="nav-text">Add New Event</span>
                                            </a>
                                        </li>
                                        <li class="">
                                            <a class="sidenav-item-link" href="/view-my-submitted-events">
                                                <span class="nav-text">View My Submitted Events</span>
                                            </a>
                                        </li>
                                        <li class="">
                                            <a class="sidenav-item-link" href="edit-calendar-events">
                                                <span class="nav-text">Edit Calendar Events</span>
                                            </a>
                                        </li>
                                    </div>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </aside>
            <div class="page-wrapper">

                <header class="main-header " id="header">
                    <nav class="navbar navbar-static-top navbar-expand-lg">
                        
                        <button id="sidebar-toggler" class="sidebar-toggle">
                            <span class="sr-only">Toggle navigation</span>
                        </button>
                        
                        <div class="search-form d-none d-lg-inline-block">
                            <div class="input-group">
                                <!-- wp:post-title {"textAlign":"center","level":4,"style":{"spacing":{"margin":{"top":"var:preset|spacing|0","right":"var:preset|spacing|30","bottom":"var:preset|spacing|0","left":"var:preset|spacing|30"}},"typography":{"fontStyle":"normal","fontWeight":"700"}},"textColor":"contrast","UAGResponsiveConditions":true} /-->
                            </div>
                        </div>

                        <div class="navbar-right ">
                            <ul class="nav navbar-nav">
                                <li class="right-sidebar-in right-sidebar-2-menu">
                                    <i class="mdi mdi-settings mdi-spin"></i>
                                </li>
                                
                                <li class="dropdown user-menu">
                                    <button href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                                        <!-- wp:pattern {"slug":"twentytwentyfour/user-avatar"} /-->
                                        <!-- wp:pattern {"slug":"twentytwentyfour/current_user"} /-->
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        
                                        <li class="dropdown-header">
                                           <!-- wp:pattern {"slug":"twentytwentyfour/user-avatar"} /-->
                                            <div class="d-inline-block">
                                                <!-- wp:pattern {"slug":"twentytwentyfour/current_user"} /-->
                                                <!-- wp:pattern {"slug":"twentytwentyfour/user_email"} /-->
                                            </div>
                                        </li>
                                        <li>
                                            <a href="/my-profile">
                                                <i class="mdi mdi-account"></i> My Profile
                                            </a>
                                        </li>
                                        <li class="dropdown-footer">
                                            <a href="/wp-login.php?action=logout"> <i class="mdi mdi-logout"></i> Log Out </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </header>

                <div class="content-wrapper">
                    <div class="content" id="disa">
                        <div id="tab_0" class="row o-tab-d">
                            <div class="card card-default">
                                <div class="card-body">
                                <!-- wp:post-content /-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"footer"} /-->