<!-- wp:template-part {"slug":"header-small","area":"header"} /-->

<!-- wp:uagb/container {"block_id":"953b457d","backgroundType":"color","backgroundSizeTablet":"cover","backgroundSizeMobile":"cover","backgroundColor":"#ffffff","topPaddingDesktop":13,"bottomPaddingDesktop":13,"leftPaddingDesktop":13,"rightPaddingDesktop":13,"topMarginDesktop":119,"bottomMarginDesktop":0,"leftMarginDesktop":0,"rightMarginDesktop":0,"marginLink":false,"variationSelected":true,"isBlockRootParent":true,"containerBorderTopLeftRadius":4,"containerBorderTopRightRadius":4,"containerBorderBottomLeftRadius":4,"containerBorderBottomRightRadius":4} -->
<div class="wp-block-uagb-container uagb-block-953b457d alignfull uagb-is-root-container">
    <div class="uagb-container-inner-blocks-wrap">
        <!-- wp:post-title {"level":5,"style":{"spacing":{"margin":{"top":"var:preset|spacing|30","right":"var:preset|spacing|30","bottom":"var:preset|spacing|30","left":"var:preset|spacing|30"}},"typography":{"fontStyle":"normal","fontWeight":"800"}},"textColor":"secondary"} /-->

        <!-- wp:post-content {"layout":{"type":"default"}} /-->

        <!-- wp:buttons {"layout":{"type":"flex","orientation":"vertical","justifyContent":"center"},"style":{"spacing":{"blockGap":"var:preset|spacing|30","margin":{"top":"var:preset|spacing|40","bottom":"var:preset|spacing|40"}}}} -->
        <div class="wp-block-buttons" style="margin-top:var(--wp--preset--spacing--40);margin-bottom:var(--wp--preset--spacing--40)"><!-- wp:button {"width":50} -->
            <div class="wp-block-button has-custom-width wp-block-button__width-50">
                <a class="wp-block-button__link wp-element-button" href="/directory/">TA2TA TA Provider Directory</a>
            </div>
            <!-- /wp:button -->

            <!-- wp:button {"width":50} -->
            <div class="wp-block-button has-custom-width wp-block-button__width-50">
                <a class="wp-block-button__link wp-element-button" href="https://www.justice.gov/ovw/grant-programs" target="_blank" rel="noreferrer noopener">OVW Website</a>
             </div>
            <!-- /wp:button -->
        </div>
        <!-- /wp:buttons -->
    </div>
</div>
<!-- /wp:uagb/container -->

<!-- wp:template-part {"slug":"footer"} /-->