.icon-48-grant_programs {
      background-image: url(../images/l_grant_programs.png);
      padding-left:60px!important;
}

.icon-48-grant_program {
      background-image: url(../images/l_grant_programs.png);
      padding-left:60px!important;
}

