<?xml version="1.0" encoding="utf-8"?>
<config>
    <fieldset
        description="COM_LIBRARY_CONFIG_SETTINGS_DESC"
        label="COM_LIBRARY_CONFIG_SETTINGS_LABEL"
        name="settings">
        <field
            default="0"
            description="COM_LIBRARY_CONFIG_FIELD_APPROVAL_EMAILS_DESC"
            label="COM_LIBRARY_CONFIG_FIELD_APPROVAL_EMAILS_LABEL"
            name="approval_emails"
            type="text" />
    </fieldset>
</config>