.icon-48-target_audiences {
      background-image: url(../images/l_target_audiences.png);
      padding-left:60px!important;
}

.icon-48-target_audience {
      background-image: url(../images/l_target_audiences.png);
      padding-left:60px!important;
}

