/*

  -- -- -- -- -- -- -- -- --
  http://www.ta2ta.org
  last edit: June 25, 2014
  author:  Zachary Draper - NCJFCJ
  -- -- -- -- -- -- -- -- --
  
*/

/* --- Mobile Phones --- */

.help-video{
	h5{
		margin: 10px 0 0 0;
		a{
			color: #333;
		}
	}
	.published{
		color: #8C8C8C;
		font-size: @font-size-small;
		margin-top: 5px;
	}
	.thumbnail-wrapper{
		position: relative;
		.duration{
			background: #000;
			bottom: 0;
			color: #fff;
			font-size: 11px;
			padding: 2px 4px;
			position: absolute;
			right: 0;
		}
		.new-ribbon{
			position: absolute;
			top: 0;
			width: 60%;
		}
	}
}

.help-video-category{
	margin-top: 20px;
}

.similar-videos{
	list-style: none;
	padding: 0;
	li{
		a{
			display: block;
			padding: 8px 8px 8px 0;
		}
		a:hover{
			background-color: darken(#F6F9F6, 7%);
			text-decoration: none;
			h5{
				text-decoration: underline;
			}
		}
		h5{
			color: #333;
			margin: 0;
		}
		.published{
			color: #8C8C8C;
			font-size: @font-size-small;
		}
		.thumbnail-wrapper{
			float: left;
			margin-right: 15px;
			position: relative;
			width: 120px;
			img{
				width: 100%;
			}
			.duration{
				background: #000;
				bottom: 0;
				color: #fff;
				font-size: 11px;
				padding: 2px 4px;
				position: absolute;
				right: 0;
			}
			.new-ribbon{
				position: absolute;
				top: 0;
				width: 80%;
			}
		}
	}
}

.similar-videos-heading{
	margin-top: 0;
}

.youtube-wrapper{
	position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px; height: 0;
  overflow: hidden;
  embed, iframe, object{
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}