/*

  -- -- -- -- -- -- -- -- --
  http://www.ta2ta.org - v2.0.0
  last edit: April 30, 2014
  author:  Zachary Draper - NCJFCJ
  -- -- -- -- -- -- -- -- --
  
*/

.blogDate{
  color: @gray-light;
  font-size: @font-size-large;
  font-weight: bold;
  margin-top: -10px;
}

.latest-news h3{
  line-height: 120%;
}

.latest-news .more-btn{
  padding: 15px 0;
}

/* --- Printing --- */

@media print{
   .latest-news .more-btn .more{
     display: none;
   }
}