/*

  -- -- -- -- -- -- -- -- --
  http://www.ta2ta.org - v2.0.0
  last edit: January 25, 2016
  author:  Zachary Draper - NCJFCJ
  -- -- -- -- -- -- -- -- --
  
*/

#services{
  h3{
    margin-top: 0;
  }
  .btn{
    padding: 14px 12px;
  }
  .divider{
    background: transparent;
    margin: 35px 0 25px 0;
    text-align: center;
    .divider-text{
      background-color: @white;
      color: #333;
      display: inline-block;
      font-size: @font-size-base * 1.7;
      font-weight: bold;
    }
  }
  .featured{ 
    img{
      float: left;
      width: 50px;
    }
  }
}

/* --- Small Tablets (>=768px) --- */

@media screen and (min-width: @screen-sm-min){
  #services{
    .divider{
      background: transparent url(../../img/specialized-services-divider.png) repeat-x;
      border: 0;
      margin: 75px 0;
      .divider-text{
        font-size: @font-size-base * 2.2;
        font-weight: normal;
        margin-top: -15px;
        padding: 0 35px;
      }
    }
    .featured{
      text-align: center;
      h3{
        margin: 10px 0;
      }
      img{
        float: none;
        height: 60px;
        width: auto;
      }
      p{
        //font-size: 13px;
        teft-align: justify;
      }
      .btn{
        width: 100%;
      }
      .well{
        height: 440px;
        .btn-bottom{
          bottom: 0;
          left: 50px;
          position: absolute;
          right: 50px;
        }
      }
    }
    .spacer{
      clear: both;
      height: 50px;
    }
  }
}

/* --- Small Desktop Screens and Tablets (>=992px) --- */

@media screen and (min-width: @screen-md-min){
  #services{
    h3{
      font-size: 18px;
    }
    .featured{
      .well{
        height: 645px;
        .btn-bottom{
          left: 45px;
          right: 45px;
        }
      }
    }
    .spacer{
      clear: none;
      height: 0;
    }
  }
}



/* --- Large Desktop Screens (>= 1200px) --- */

@media screen and (min-width: @screen-lg-min){
  #services{
    h3{
      font-size: 24px;
    }
    .featured{
      .well{
        height: 530px;
        .btn-bottom{
          left: 50px;
          right: 50px;
        }
      }
    }
  }
}