.icon-48-grantprograms {
      background-image: url(../images/l_grantprograms.png);
      padding-left:60px!important;
}

.icon-48-grantprogram {
      background-image: url(../images/l_grantprograms.png);
      padding-left:60px!important;
}

.icon-48-providers {
      background-image: url(../images/l_providers.png);
      padding-left:60px!important;
}

.icon-48-provider {
      background-image: url(../images/l_providers.png);
      padding-left:60px!important;
}

.icon-48-contacts {
      background-image: url(../images/l_contacts.png);
      padding-left:60px!important;
}

.icon-48-contact {
      background-image: url(../images/l_contacts.png);
      padding-left:60px!important;
}

