.tribe-events-c-events-bar--border{
	border: 1px solid gray!important;
	border-radius: 7px;
}

.tribe-common--breakpoint-medium.tribe-events.tribe-events-c-events-bar--border{
	border: 1px solid gray !important;
}

.tribe-events .tribe-events-calendar-month__day-cell--selected,
.tribe-events .tribe-events-calendar-month__day-cell--selected:focus,
.tribe-events .tribe-events-calendar-month__day-cell--selected:hover{
	background-color: #f3b083;
}

.tribe-events.tribe-events-calendar-month__day-cell--selected,
.tribe-events.tribe-events-calendar-month__day-cell--selected:focus,
.tribe-events.tribe-events-calendar-month__day-cell--selected:hover{
	background-color: var(--wp--preset--color--primary);
}
button.tribe-events-calendar-month__day-cell.tribe-events-calendar-month__day-cell--mobile.tribe-events-calendar-month__day-cell--selected .tribe-events-calendar-month__day-date-daynum{
	color:white;
}
.calendar-svg svg {
    height: 100%;
    width: 100%;
}

.calendar-header {
    display: flex;
    justify-content: space-around;
}

.tribe-events-virtual-single-video-embed__wrapper iframe{
	border-radius: 10px;
	max-width: 470px;
}