.icon-48-events {
      background-image: url(../images/l_events.png);
      padding-left:60px!important;
}

.icon-48-event {
      background-image: url(../images/l_events.png);
      padding-left:60px!important;
}

.icon-48-topicareas {
      background-image: url(../images/l_topicareas.png);
      padding-left:60px!important;
}

.icon-48-topicarea {
      background-image: url(../images/l_topicareas.png);
      padding-left:60px!important;
}

.icon-48-targetaudiences {
      background-image: url(../images/l_targetaudiences.png);
      padding-left:60px!important;
}

.icon-48-targetaudience {
      background-image: url(../images/l_targetaudiences.png);
      padding-left:60px!important;
}

